# git help shortlog
# newname <newaddr> oldname <oldaddr>
<kentnl@cpan.org> <kentfredric@gmail.com>
<sno@netbsd.org> <reshack@gmail.com>
Adam Kennedy <adamk@cpan.org> <adam@88f4d9cd-8a04-0410-9d60-8f63309c3137>
Adam Kennedy <adamk@cpan.org> <adam@phase-n.com@88f4d9cd-8a04-0410-9d60-8f63309c3137>
Adam Kennedy <adamk@cpan.org> <adamk@cpan.org@88f4d9cd-8a04-0410-9d60-8f63309c3137>
Hans Dieter Pearcey <hdp@cpan.org> <hdp@cpan.org@88f4d9cd-8a04-0410-9d60-8f63309c3137>
Kenichi Ishigaki <ishigaki@cpan.org> <ishigaki@cpan.org@88f4d9cd-8a04-0410-9d60-8f63309c3137>
Tatsuhiko Miyagawa <miyagawa@cpan.org> <miyagawa@cpan.org@88f4d9cd-8a04-0410-9d60-8f63309c3137>
Ricardo SIGNES <rjbs@cpan.org> <rjbs@cpan.org@88f4d9cd-8a04-0410-9d60-8f63309c3137>
Steffen Müller <smueller@cpan.org> <smueller@cpan.org@88f4d9cd-8a04-0410-9d60-8f63309c3137>
